root = true
# 表明是最顶层的配置文件，发现设为true时，才会停止查找.editorconfig文件。

[*]
# 编码格式
charset = utf-8
# 缩进方式
indent_style = space
# 缩进大小
indent_size = 2
# 行尾标准lf、cr和crlf
end_of_line = lf
# 是否让文件以空行结束
insert_final_newline = true
# 自动删除文件末尾空白行
trim_trailing_whitespace = true
