@import '../assets/css/theme.css';
.fem-layout {
  height: 100%;
}
.fem-layout-header {
  color: #fff;
  background: var(--header-wrap-bg);
  & > div {
    display: inline-block;
  }
  & .header-logo img {
    width: 50px;
    height: 50px;
  }
  & .header-logo-name {
    font-size: 20px;
    margin-left: 15px;
  }
  & .fem-header-right {
    float: right;
    & > div {
      display: inline-block;
    }
    & .avatar img {
      width: 50px;
      height: 50px;
      margin-left: 20px;
      border-radius: 50%;
    }
    & .header-notice .anticon {
      font-size: 30px;
      margin: 0 5px;
      vertical-align: middle;
    }
  }
}
.fem-layout-sider {
  background: #ffffff;
  .ant-layout-sider-trigger {
    background: var(--header-wrap-bg);
  }
}
.fem-layout-content {
  padding: 10px 15px;
}
